<html>
    <head>
        <title>Nick's blog</title>
    </head>
    <body>
        <h1>h1: A big heading</h1>
        <h2>h2: A sub-heading</h2>
        <h3>h3: A sub-sub-heading (and so on up to h6)</h3>
        <p>Hi there!</p>
        <p>It works!</p>
        <em>emphasis</em>
        <strong>strong text</strong>
        <br> after a break
        <a href="http://djangogirls.org">a link</a>
        <ul>
            <li>first item</li>
            <li>second item</li>
        </ul>
        <div> a separate section </div>
    </body>
</html>